@model UserUpdateViewModel
@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
<!-- Başarılı güncelleme mesajı -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@{
    ViewData["Title"] = "UserDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center mb-4">
                        <img class="mr-3" src="@Model.ImageUrl" width="80" height="80" alt="">
                        <div class="media-body">
                            <h3 class="mb-0">@Model.Name @Model.Surname</h3>
                            <p class="text-muted mb-0">@Model.Email</p>
                        </div>
                    </div>

                    @await Component.InvokeAsync("_MessageStatsViewComponentPartial")


                    <h4>İletişim Bilgileri</h4>
                    <ul class="card-profile__info">
                        <li class="mb-1"><strong class="text-dark mr-4">Telefon</strong> <span>@Model.PhoneNumber</span></li>
                        <li><strong class="text-dark mr-4">Mail</strong> <span>@Model.Email</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <div style="width: 100%; max-width: 600px;">
                            <h3>Profil Düzenleme</h3>
                            <br />
                            <form asp-action="UserDetail" method="post">
                                <div class="form-group">
                                    <label>Ad</label>
                                    <input asp-for="Name" class="form-control" required/>
                                </div>
                                <div class="form-group">
                                    <label>Soyad</label>
                                    <input asp-for="Surname" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input asp-for="Email" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label>Kullanıcı Adı</label>
                                    <input asp-for="Username" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label>Telefon</label>
                                    <input asp-for="PhoneNumber" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label>Görsel Url</label>
                                    <input asp-for="ImageUrl" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label>Yeni Şifre (değiştirmek istiyorsan)</label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                </div>
                                <div class="form-group text-right">
                                    <button type="submit" class="btn btn-primary">Güncelle</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
